<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" >
	<title>Mí calculadora</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script type="/js/jquery.unobtrusive-ajax.min.js"></script>
<title>Insert title here</title>
</head>
<body>
 <div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Calculadora Simple</h1>
		<p class="leand">
			Ejemplo de calcudora usando MVC con spring.
		</p>
		<hr class="my-4">
		<p>Introduce los datos solicitados.</p>
		<div>
		<form action="#" th:action="@{/resultado}" th:object="${calcu}" method="post">
		<p>Primer número: <input type="number" th:field="*{num1}" class="form-control"/></p>
		<p>Segundo número: <input type="number" th:field="*{num2}" class="form-control"/></p>
		<p>Operación: 
			<select th:field="*{operador}" class="form-control">
				<option value="+">Suma (+)</option>
			</select>
			<p>
			<label th:text="'Resultado de:' + *{num1}+ *{operador} + *{num2} + '=' + *{resultado}"> </label>
			<p><input type="submit" value="Calcular"/> <input type="reset" value="limpiar"/></p>
		</form>
	</div>
	<hr class="my-4">
	<div>
		<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<p>Desarrollo de aplicaciones web. Alumno Daniel Gayosso Gonzalez.</p>
			<p>ITSSNP 2022.</P>
		</div>
		<div class="col-2"></div>
		</div>
	</div>
</div>
</body>
</html>